<%- include("../shared/head") %>

<div class="container">
    <main role="main" class="pb-3">

        <div class="jumbotron text-center">
            <h1 class="display-4 mt-5">ABOUT ME</h1>
            <hr class="my-4">
        </div>
        
        <div class="row align-items-md-stretch mt-5 mb-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-dark bg-light rounded-3">
                    <h2>About Me</h2>
                    <p>
                        My name is Kurt Ronald Sialana, and I am a proficient Full-Stack Developer currently in my 3rd year of the Computer Programming & Analysis program at Conestoga College.
                        <br>
                        <br>
                        Over the past 2.5 years, I have gained experience with a variety of programming languages, including HTML, CSS, JavaScript/TypeScript, Java, C#, Python, and SQL.
                        <br>
                        <br>
                        I have worked extensively with frameworks such as ASP.NET Core, Node.js, Express.js, and Angular.js. Additionally, I am proficient in database technologies, including MongoDB, MySQL, SQL Server Management Studio (SSMS), and PostgreSQL
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-white border rounded-3">
                    <h2>Maybe Have it Do Something</h2>
                    <p>do something</p>
                    <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Events" asp-action="">View All Events</a>
                </div>
            </div>
        </div>

    </main>
</div>

<%- include("../shared/footer") %>
<%- include("../shared/scripts") %>
