<%- include("../shared/head") %>

<div class="container">
    <main role="main" class="pb-3">

        <div class="jumbotron text-center">
            <h1 class="display-4 mt-5">ABOUT ME</h1>
            <p class="lead mt-3"> <i class="fa fa-home"></i> Guelph, Canada <b>|</b> <i class="fa fa-envelope"></i> kurt.sialana@gmail.com <b>|</b> <i class="fa fa-mobile"></i> +1 (519)-731-5142</p>
            <p class="lead mb-5"> <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/kurtrsialana/" style="text-decoration: none; color: black;" target="_blank">https://www.linkedin.com/in/kurtrsialana/</a> <b>|</b> <i class="fa fa-github"></i> <a href="https://github.com/Whosthisguy21/" style="text-decoration: none; color: black;" target="_blank">https://github.com/Whosthisguy21/</a> </p>
            <hr class="my-4">
        </div>
        
        <div class="row align-items-md-stretch mt-5 mb-5">
            <div class="col-md-6">
                <div class="h-100 p-5 text-dark bg-light rounded-3">
                    <h2>About Me</h2>
                    <p>
                        My name is Kurt Ronald Sialana, and I am a proficient Full-Stack Developer currently in my 3rd year of the Computer Programming & Analysis program at Conestoga College.
                        <br>
                        <br>
                        Over the past 2.5 years, I have gained experience with a variety of programming languages, including HTML, CSS, JavaScript/TypeScript, Java, C#, Python, and SQL.
                        <br>
                        <br>
                        I have worked extensively with frameworks such as ASP.NET Core, Node.js, Express.js, and Angular.js. Additionally, I am proficient in database technologies, including MongoDB, MySQL, SQL Server Management Studio (SSMS), and PostgreSQL
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-white border rounded-3">
                    <img src="/images/Me.png" class="img-thumbnail" alt="Picture of Kurt Sialana">
                </div>
            </div>
        </div>

    </main>
</div>

<%- include("../shared/footer") %>
<%- include("../shared/scripts") %>
