<%- include("../shared/head") %>

<div class="container">
    <main role="main" class="pb-3">

        <div class="jumbotron text-center">
            <h1 class="display-4 mt-5">PROJECTS TAB</h1>
            <p class="lead mb-5">Here in this website, you can discover Kurt's projects and skills.</p>
            <hr class="my-4">
        </div>

    </main>
</div>

<%- include("../shared/footer") %>
<%- include("../shared/scripts") %>
